@{
    ViewData["Title"] = "Lykke Report 2016";
}

<section class="section">
    <div class="container">
      <div class="r_block r_block--results">
        <div class="r_block__header">
          <h3>Voting Results</h3>
          <span class="middot">&middot;</span>
          <a href="#">Details</a>
        </div>

        <div class="lead">Lykke 2016 annual report has been approved</div>

        <div class="r_results">
          <div class="r_result">
            <div class="r_result__candle">
              <div class="r_candle" data-percent="85"></div>
            </div>
            <div class="r_result__info">
              <span class="r_result__desc"><span class="_val">85</span>%</span>
              <div class="r_result__accent">126,758</div>
              <div class="r_result__text">Voted <b>YES</b></div>
            </div>
          </div>
          <div class="r_result">
            <div class="r_result__candle">
              <div class="r_candle" data-percent="5"></div>
            </div>
            <div class="r_result__info">
              <span class="r_result__desc"><span class="_val">5</span>%</span>
              <div class="r_result__accent">3,020</div>
              <div class="r_result__text">Voted <b>NO</b></div>
            </div>
          </div>
          <div class="r_result">
            <div class="r_result__candle">
              <div class="r_candle" data-percent="35"></div>
            </div>
            <div class="r_result__info">
              <span class="r_result__desc"><span class="_val">35</span>%</span>
              <div class="r_result__accent">72,401</div>
              <div class="r_result__text">Voted <b>NOT&nbsp;SURE</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>